{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'wedo.css' %}">
{% endblock %}
{% block content %}

<div class=" d-block w-100">
  <img src="{% static 'robot.jpg' %}" style="width:100%; height:70vh;">
<!--  <h3 style="text-align: center"> What We Do</h1>-->
</div>

<!--<hr>

<div class="row">
  <div class="column">
    <img src="{% static '1.jpg' %}" alt="NU-CIIE" style="width:100%; height: 400px;">
  </div>
  <div class="column">
    <img src="{% static '2.jpg' %}" alt="NU-CIIE" style="width:100%; height: 400px">
  </div>
  <div class="column">
    <img src="{% static '1.jpg' %}" alt="NU-CIIE" style="width:100%; height: 400px;  transform: scaleX(-1);">
  </div>
</div>
<hr>

</div>-->


<div class="text1">
  <h8 id="head8">Robotics Club </h8><br><br>
  <p><span class="first-word">The Robotics Club</span> The Robotics Club of NIIT University endeavours to invigorate enthusiasm for mechanical autonomy among the understudies of the foundation. Other than making a genuine undertaking to spread information on Robotics and its different applications, it likewise remains by the unpretentious abbreviation of TEAM - 'Together Everyone Achieves More'. This model uprightness has bound the club and helped it to develop to its present potential. It was started route in 2016 under the tutelage of Mr. Jitendra Joshi (Department of Electronics and Communication Engineering), with the lone target of partaking in the ROBOTICS competitions rivalry. Nevertheless, throughout the years it has broadened.<br>

We immovably have confidence in working in an arranged, composed and taught way that causes us in hazard free administration. The procedures of the clubs are all pre-arranged and run easily as indicated by the constitution. Very much-characterized objectives, a sorted out and taught work structure, and roused individuals are the highlights of the club, to refer to a couple, that have helped the club to develop to a dimension where we see it now.<br>

The club today is a functioning stage for understudies to show and build up their practical machine building aptitudes and learning. 
</div>


{% endblock %}
